.DS_Store
.build
.swiftpm/xcode/package.xcworkspace
.swiftpm/xcode/xcuserdata
Package.resolved

xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
